body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#taskListContainer {
    width: 20%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border-right: 1px solid #cccccc;
    background-color: #f0f0f0;
}

#mapContainer {
    width: 60%;
    height: 100%;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

#taskDetailContainer {
    width: 20%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border-left: 1px solid #cccccc;
    background-color: #f0f0f0;
}

.leaflet-popup-content-wrapper {
    background-color: #ffffff;
    color: #333;
}

.leaflet-interactive:hover {
    cursor: pointer;
}

#zoomButton,
#fullWorldButton {
    position: absolute;
    top: 10px;
    z-index: 1000;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#zoomButton {
    left: 50px;
}

#fullWorldButton {
    left: 190px;
}

#zoomButton:hover,
#fullWorldButton:hover {
    background-color: #0056b3;
}

.task-list-item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.task-list-item h4 {
    margin: 0;
    font-size: 18px;
}

.task-list-item p {
    margin: 5px 0 0;
    font-size: 14px;
}

.task-list-item:hover {
    background-color: #007bff;
}

.task-details {
    font-size: 14px;
}

.task-details h2 {
    font-size: 18px;
}

.task-details p {
    margin: 5px 0;
}

.task-details img {
    vertical-align: middle;
}

.task-details ul, .task-details ol {
    margin: 0;
    padding-left: 20px;
}

.task-details ul li, .task-details ol li {
    margin-bottom: 5px;
}
