body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #2c2f33;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#tabButtons {
    display: flex;
    justify-content: space-around;
    background-color: #2c2f33;
    border-bottom: 1px solid #99aab5;
}

.tabButton {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #2c2f33;
    border: 1px solid #99aab5;
    border-bottom: none;
    color: #ffffff;
}

    .tabButton:first-child {
        border-top-left-radius: 5px;
    }

    .tabButton:last-child {
        border-top-right-radius: 5px;
    }

    .tabButton.active {
        background-color: #7289da;
        border-bottom: 1px solid #7289da;
    }

#tabsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tabContent {
    flex-grow: 1;
    display: none;
    padding: 6px;
    overflow-y: auto;
    background-color: #23272a;
    border: 1px solid #99aab5;
    border-top: none;
}

    .tabContent.active {
        display: block;
    }

#mapContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#taskDetailContainer {
    width: 33%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border-left: 1px solid #99aab5;
    background-color: #23272a;
}

#resizer {
    width: 5px;
    cursor: col-resize;
    background-color: #99aab5;
}

.button-style {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 40px; /* Set a fixed height */
    line-height: 20px; /* Adjust line-height to center the text vertically */
}

    .button-style:hover {
        background-color: #0056b3;
    }

.task-details {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1em;
}

    .task-details h2 {
        font-size: 18px;
        margin-top: 1em;
    }

    .task-details p {
        margin: 1em 0;
    }

    .task-details img {
        vertical-align: middle;
    }

    .task-details ul, .task-details ol {
        margin: 0;
        padding-left: 20px;
        line-height: 1.3;
    }

        .task-details ul li, .task-details ol li {
            margin-bottom: 5px;
        }

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-number {
    font-size: 16px;
    font-weight: bold;
}

.task-flags {
    display: flex;
}

.task-details a {
    color: #1da1f2;
    text-decoration: none;
}

    .task-details a:hover {
        text-decoration: underline;
    }

    .task-details a:visited {
        color: #1da1f2; /* Keep the same color after clicking */
    }

.header-container {
    display: flex;
    align-items: center;
}

.header-image {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.tool-entry {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    background-color: #3a3d42; /* A bit lighter background */
    transition: all 0.3s ease;
}

    .tool-entry.collapsible .title {
        cursor: pointer;
    }

    .tool-entry.collapsed .content {
        display: none;
    }

    .tool-entry .title {
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        background-color: #3a3d42;
        color: #fff;
        border-bottom: 1px solid #ccc;
    }

    .tool-entry .content {
        padding: 10px;
        font-size: 14px;
        background-color: #3a3d42; /* Ensure content matches the entry background */
    }

    .tool-entry .title:hover {
        background-color: #7289da;
    }

    .tool-entry ul, .tool-entry ol {
        margin: 0;
        padding-left: 15px; /* Adjust this value to decrease the indentation */
        line-height: 1.3;
    }

        .tool-entry ul li, .tool-entry ol li {
            margin-bottom: 3px;
            padding-left: 5; /* Adjust this value if necessary */
        }

.link-preview {
    display: flex;
    background-color: #4d5054; /* Ensure content matches the entry background */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
}

    .link-preview img {
        max-width: 120px;
        margin-right: 10px;
    }

.preview-details {
    font-size: 0.875em; /* Smaller font size */
    line-height: 1.2em; /* Adjust line height */
}

    .preview-details h3 {
        font-size: 1em; /* Smaller title size */
        margin: 0 0 0.5em 0; /* Adjust margin */
    }

    .preview-details p {
        font-size: 0.875em; /* Smaller description size */
        margin: 0; /* Adjust margin */
    }

.youtube-container {
    display: flex;
    align-items: center;
}

    .youtube-container iframe {
        margin-right: 10px;
    }

/* Add link styles for tools tab to match task details */
.tool-entry a {
    color: #1da1f2;
    text-decoration: none;
}

    .tool-entry a:hover {
        text-decoration: underline;
    }

    .tool-entry a:visited {
        color: #1da1f2; /* Keep the same color after clicking */
    }

/* Add link styles for linkss */
.all-links a {
    color: #1da1f2;
    text-decoration: none;
}

    .all-links a:hover {
        text-decoration: underline;
    }

    .all-links a:visited {
        color: #1da1f2; /* Keep the same color after clicking */
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 85%;
    max-height: 85%;
    object-fit: contain; /* Ensure the image maintains aspect ratio */
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* Responsive image */
.weather-image {
    width: 100%;
    max-width: 700px;
    cursor: pointer;
    transition: 0.3s;
}

    .weather-image:hover {
        opacity: 0.7;
    }

.compass-container {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed
}

.compass-rose {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wind-arrow {
    width: 60px;
    height: 300px;
    left: 43%;
    top: 13%;
    position: relative;
}

.wind-direction {
    position: absolute;
    color: #000;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    top: 50.7%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    cursor: move;
}

#fullWorldButton {
    position: absolute;
    top: 66px;
    left: 60px;
    width: 35px;
    height: 35px;
    z-index: 1000;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(114 137 218 / 47%);
    border: 1px solid #ccc; /* Add a light gray border */
}

    #fullWorldButton:hover {
        background: rgb(114 137 218 / 76%); /* Change background color on hover */
        border-color: #888; /* Change border color on hover */
        transform: scale(1.1); /* Scale up the icon on hover */
    }

#taskControlPanel {
    position: absolute;
    top: 10px;
    right: 65px; /* Adjust this value if needed to fit left of the layer button/menu */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 5px;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it appears above map layers */
}

    #taskControlPanel button {
        background: rgb(114 137 218 / 47%);
        border: 1px solid #ccc; /* Add a light gray border */
        border-radius: 3px; /* Slightly round the corners */
        font-size: 16px;
        cursor: pointer;
        margin: 0 2px; /* Add horizontal margin to space buttons */
        padding: 5px; /* Add some padding for better clickability */
    }

        #taskControlPanel button:hover {
            background: rgb(114 137 218 / 76%); /* Change background color on hover */
            border-color: #888; /* Change border color on hover */
            transform: scale(1.1); /* Scale up the icon on hover */
        }

        #taskControlPanel button img {
            width: 20px;
            height: 20px;
        }

.file-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: white;
    padding: 2px;
    border-radius: 3px; /* Optional: add rounded corners */
    transition: transform 0.2s ease-in-out; /* Add transition for hover effect */
}

    .file-icon:hover {
        background: rgb(39 161 231); /* Change background color on hover */
        transform: scale(1.1); /* Scale up the icon on hover */
    }

.waypoint-item.selected {
    background-color: #888888;
    border-left: 3px solid #007bff;
}

.wind-layer-item {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

    .wind-layer-item.selected {
        background-color: #888888;
        border-left: 3px solid #007bff;
    }
